h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  opacity: 0.7;
}

.button-primary {
  background-color: #27887b;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-primary:hover {
  background-color: #1cccb0;
  transform: scale(1.05);
}

.canva {
  max-width: 400px;
  max-height: 700px;
}

