body {
  margin: 0;
  height: 100vh;
  background-image: url('/darkbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}